{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>Nuovo Post</h1>

    <p>
        <a href="{{ path('admin_post_index') }}">< torna alla lista</a>
    </p>

    {% include "AdminBundle::post/form.html.twig" with {form: form} %}

{% endblock %}
